aiohttp
aioshutil
aiofiles
anitopy
apscheduler
dnspython
feedparser
psutil
pycountry
python-dotenv
tgcrypto
torrentp==0.1.7
git+https://github.com/kaif-00z/html-telegraph-poster
lxml[html_clean]
lxml
motor==3.3.2
pymongo==4.6.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydrive2
pyrofork==2.3.45
flask
gunicorn
uvloop
